body {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* align-items: center; */
    /* text-align: center; */
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-top: 2.5vh;

}
.thumbnails-image {
    width: 20vw;
    height: 18vw;
    display: block;
}
.details-image{
    width: 75vw;
    height: 50vw;
}
.details-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnails-title{
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
}
.thumbnails-item{
    margin-top: 2vh;
    margin-left: 2vw;
    border: 1px solid blue;
}
.thumbnails-anchor{
    text-decoration: none;
}
.details-title{
    background-color: cornsilk;
    position: absolute;
    /* left: 3vw; */
    bottom: 2vw;

}
.logo-title{
    background-color: fuchsia;
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
body, html{
    height: 100%;
}
@media (min-width: 568px) {
    .thumbnails-list{
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: 360px;
        top: 1px;
        display: flow-root;
        position: relative;
    }
    .thumbnails-title{
        width: 20vw;
    }
    .thumbnails-item{
        max-width: 20vw;   
    }
    .logo-title{
        position: absolute;
        left: 315px;
        display: inline-block;
        z-index: 1;
        
    }
    .details-container{
        position: absolute;
        top: 20px;
        left: 168px;

    }
    .footer-title{
        position: absolute;
        top: 340px;
        left: 300px;
    }
}